/bin/*
/bin
.vs
/.vs
.vs/*
/.vs/*
.idea

Logs/
src/MessageServer/obj
src/LoginServer/obj
src/GameServer/obj
src/Common/obj
src/CharServer/obj

/.vs
/Logs/*
/Logs
*.log
CharServer/obj/Debug/CharServer.csproj.CopyComplete
CharServer/obj/Debug/CharServer.csproj.CoreCompileInputs.cache
CharServer/obj/Debug/CharServer.csproj.FileListAbsolute.txt
CharServer/obj/Debug/CharServer.csprojAssemblyReference.cache
CharServer/obj/Debug/CharServer.exe
CharServer/obj/Debug/CharServer.pdb
Common/obj/Debug/Common.csproj.CopyComplete
Common/obj/Debug/Common.csproj.CoreCompileInputs.cache
Common/obj/Debug/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/Common.csprojAssemblyReference.cache
Common/obj/Debug/Common.dll
Common/obj/Debug/Common.pdb
Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameServer/obj/Debug/GameServer.csproj.CopyComplete
GameServer/obj/Debug/GameServer.csproj.CoreCompileInputs.cache
GameServer/obj/Debug/GameServer.csproj.FileListAbsolute.txt
GameServer/obj/Debug/GameServer.csprojAssemblyReference.cache
GameServer/obj/Debug/GameServer.exe
GameServer/obj/Debug/GameServer.pdb
LoginServer/obj/Debug/LoginServer.csproj.CopyComplete
LoginServer/obj/Debug/LoginServer.csproj.CoreCompileInputs.cache
LoginServer/obj/Debug/LoginServer.csproj.FileListAbsolute.txt
LoginServer/obj/Debug/LoginServer.csprojAssemblyReference.cache
LoginServer/obj/Debug/LoginServer.exe
LoginServer/obj/Debug/LoginServer.pdb
MessageServer/obj/Debug/MessageServer.csproj.CopyComplete
MessageServer/obj/Debug/MessageServer.csproj.CoreCompileInputs.cache
MessageServer/obj/Debug/MessageServer.csproj.FileListAbsolute.txt
MessageServer/obj/Debug/MessageServer.csprojAssemblyReference.cache
MessageServer/obj/Debug/MessageServer.exe
MessageServer/obj/Debug/MessageServer.pdb
