/bin/*
/bin
.vs
/.vs
.vs/*
/.vs/*
.idea
src/MessageServer/obj
src/LoginServer/obj
src/GameServer/obj
src/Common/obj
src/CharServer/obj
src/bin/*
/.vs
/Logs/*
*.log
CharServer/obj/Debug/CharServer.csproj.CopyComplete
CharServer/obj/Debug/CharServer.csproj.CoreCompileInputs.cache
CharServer/obj/Debug/CharServer.csproj.FileListAbsolute.txt
CharServer/obj/Debug/CharServer.csprojAssemblyReference.cache
CharServer/obj/Debug/CharServer.exe
CharServer/obj/Debug/CharServer.pdb
Common/obj/Debug/Common.csproj.CopyComplete
Common/obj/Debug/Common.csproj.CoreCompileInputs.cache
Common/obj/Debug/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/Common.csprojAssemblyReference.cache
Common/obj/Debug/Common.dll
Common/obj/Debug/Common.pdb
Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameServer/obj/Debug/GameServer.csproj.CopyComplete
GameServer/obj/Debug/GameServer.csproj.CoreCompileInputs.cache
GameServer/obj/Debug/GameServer.csproj.FileListAbsolute.txt
GameServer/obj/Debug/GameServer.csprojAssemblyReference.cache
GameServer/obj/Debug/GameServer.exe
GameServer/obj/Debug/GameServer.pdb
LoginServer/obj/Debug/LoginServer.csproj.CopyComplete
LoginServer/obj/Debug/LoginServer.csproj.CoreCompileInputs.cache
LoginServer/obj/Debug/LoginServer.csproj.FileListAbsolute.txt
LoginServer/obj/Debug/LoginServer.csprojAssemblyReference.cache
LoginServer/obj/Debug/LoginServer.exe
LoginServer/obj/Debug/LoginServer.pdb
MessageServer/obj/Debug/MessageServer.csproj.CopyComplete
MessageServer/obj/Debug/MessageServer.csproj.CoreCompileInputs.cache
MessageServer/obj/Debug/MessageServer.csproj.FileListAbsolute.txt
MessageServer/obj/Debug/MessageServer.csprojAssemblyReference.cache
MessageServer/obj/Debug/MessageServer.exe
MessageServer/obj/Debug/MessageServer.pdb
src/GameServer/packages.config
src/bin/Debug/System.ValueTuple.xml
src/bin/Debug/System.ValueTuple.dll
src/bin/Debug/MySql.Data.dll
src/bin/Debug/MessageServer.pdb
src/bin/Debug/MessageServer.exe.config
src/bin/Debug/MessageServer.exe
src/bin/Debug/LoginServer.pdb
src/bin/Debug/LoginServer.exe.config
src/bin/Debug/LoginServer.exe
src/bin/Debug/GameServer.pdb
src/bin/Debug/GameServer.exe.config
src/bin/Debug/GameServer.exe
src/bin/Debug/Configuration.ini
src/bin/Debug/Common.pdb
src/bin/Debug/Common.dll.config
src/bin/Debug/Common.dll
src/bin/Debug/CharServer.pdb
src/bin/Debug/CharServer.exe.config
src/bin/Debug/CharServer.exe
packages/System.ValueTuple.4.5.0/version.txt
packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
packages/System.ValueTuple.4.5.0/LICENSE.TXT
packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
packages/System.ValueTuple.4.5.0/.signature.p7s
*.log
Logs/LoginLog.log
Logs/GameLog.log
Logs/CharLog.log
Logs/CharLog.log
/Logs/CharLog.log
/Logs/GameLog.log
/Logs/LoginLog.log